<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>App products</h1>

<!--<div>
  <button (click)="loadProducts()" >Load Products</button>
</div>
-->

<h2>Navigation</h2>

<nav>
	<ul>
		<li><a routerLink="/">Home</a></li>
		<li><a routerLink="/products">Products</a></li>
	</ul>
</nav>

<router-outlet></router-outlet>


<div *ngIf="products">
  <div *ngFor="let product of products">
    <h2>{{ product.title }}</h2>
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
  </div>
</div>

